* {
    margin: 0;
}
/* UTILITY CLASS */
.button {
    display: inline-block;
    color: white;
    border: 0;
    border-radius: 10%;
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button-blu {
    background-color: rgb(30, 157, 255);
}

.button-bianco {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: grey;
    border: 1px solid grey;
    border-radius: 10%;
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button-viola {
    background-color: rgb(145, 46, 199);
}

.button-verde {
    background-color: rgb(71, 215, 140);
}

.button-arancione {
    background-color: rgb(255, 159, 50);
}

.button-fuxia {
    background-color: rgb(228, 63, 193);
}

.button-verde-oliva {
    background-color: rgb(154, 210, 76);
}

.bordo-arrotondato {
    border-radius: 12px;
}

.titoletto {
    font-weight: 800;
}

.lista-task {
    width: 80%;
    line-height: 2;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
}

.margine {
    display: block;
    width: 75%;
    margin: 0 auto;
}


header {
    background-color: white;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.header-logo {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.header-titolo {
    display: inline;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    vertical-align: middle;
}

.pagina {
    background-color: rgb(246, 246, 246);
}

hr {
    background-color: gainsboro;
    color: gainsboro;
    margin-left: 5px;
    margin-right: 5px;
}

.freccia {
  list-style-type: "▼ ";
}

.check {
    list-style-type: "✔ ";
}


.crocetta {
    list-style-type: "✘ ";
}

.no-padding {
    padding-left: 0;
}